<section class="featured-products-section">
  <div class="news-contents-layout">
    <div class="section-header">
      <h2 class="section-title center-title"><%= title %></h2>
    </div>
    <div class="item-table notice-table">
      <table>
        <thead>
          <tr>
            <th>配信日</th>
            <th>タイトル</th>
            <th>内容</th>
          </tr>
        </thead>
        <tbody>
          <% @notices.each do |notice| %>
            <tr>
              <td class="date-col"><%= notice.created_at.strftime("%Y-%m-%d") %></td>
              <td class="title-col">
                <span class="title-col-text"><%= notice.title %></span>
              </td>
              <td class="content-col"><%= simple_format(notice.content) %></td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>
</section>