
  <%# 商品一覧 %>
<div class="display-flex-content">
  <div class="select-items">
    <div class="select-price">
      <div class="select-content">金額</div>
        <div class="select-dropdown">
          <%= select_tag :price_range,
            options_for_select([
              [300, 300],
              [1000, 1000],
              [2000, 2000],
              [4000, 4000],
              [50000, 50000],
              [600000, 600000] 
            ], params[:price_range]),
            { prompt: '最低金額', class: 'select-box', id: 'item-min-price-select'}
          %>
      </div>
      <div class="select-dropdown">
        <%= select_tag :price_range,
          options_for_select([
            [300, 300],
            [1000, 1000],
            [2000, 2000],
            [4000, 4000],
            [50000, 50000],
            [600000, 600000] 
          ], params[:price_range]),
          { prompt: '最高金額', class: 'select-box', id: 'item-max-price-select'}
        %>
      </div>
    </div>
    <div class="select-condition">
      <div class="select-content">商品の状態</div>
      <div class="select-dropdown">
        <%= select_tag :condition_id,
          options_from_collection_for_select(Condition.all, :id, :name, params[:condition_id]),
          { prompt: '---', class: 'select-box', id: 'item-condition-select' } %>
      </div>
    </div>
    <div id="selected-categories" class="selected-categories">
      <div class="select-content">商品のカテゴリ</div>
    </div>
  </div>
</div>