
  <%# 商品一覧 %>
<div class="display-flex-content">
  <div class="select-items">
    <div class="select-content">商品の金額</div>
    <div id="slider"></div>
    <p>選択範囲: <span id="range"></span></p>
    <script src="https://cdn.jsdelivr.net/npm/nouislider@15.7.0/dist/nouislider.min.js"></script>

    <div class="select-condition">
      <div class="select-content">商品の状態</div>
      <div class="select-dropdown">
        <%= select_tag :condition_id,
          options_from_collection_for_select(Condition.all, :id, :name, params[:condition_id]),
          { prompt: '---', class: 'select-box', id: 'item-condition-select' } %>
      </div>
    </div>
    <div id="selected-categories" class="selected-categories">
      <div class="select-content">商品のカテゴリ</div>
    </div>
    
  </div>
</div>